
.vs/Computer_graphics/v17/.suo

.vs/Computer_graphics/v17/Browse.VC.db

.vs/Computer_graphics/v17/fileList.bin

Computer_graphics.sln

Computer_graphics.vcxproj

Computer_graphics.vcxproj.filters

Computer_graphics.vcxproj.user

Project.sln

VulkanTest.vcxproj

VulkanTest.vcxproj.filters

VulkanTest.vcxproj.user

.vs/

x64/
